body {
  /* Default background color */
  background-color: #43AFFC;
}

body.clear {
  background-image: url("Assets\clear.jpeg");
  background-size: cover;
}

body.clouds {
  background-image: url("Assets\Clouds.jpeg");
  background-size: cover;
}

body.rain {
  background-image: url("Assets\Rain.gif");
  background-size: cover;
}

body.snow {
  background-image: url("Assets\Snow.gif");
  background-size: cover;
}
